/*Global reset to override all paddings and margins*/

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  width: 1250px;
  margin: 0 auto;
}

.aboutMe {
  color: #f8f9fa;
  background-color: #370617;
}
.myWork {
  color: #f8f9fa;
  background-color: #6a040f;
}
.experiences {
  color: #f8f9fa;
  background-color: #9d0208;
}
.passions {
  color: #f8f9fa;
  background-color: #d00000;
}
.newProjects {
  color: #f8f9fa;
  background-color: #dc2f02;
}

.gitHub {
  color: #f8f9fa;
  background-color: #e85d04;
}
.otherLinks {
  color: #f8f9fa;
  background-color: #f48c06;
}

.titleAndMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eeeeee;
}
/*This to align the navigation bar within itself. I use flex, and styled the content*/
nav {
  display: flex;

  align-items: center;
  justify-content: space-between;
  gap: 1em;
  font-size: 15px;
  padding-right: 15px;
}

/*this section aligns texts to "justify" for h1s, h2s and p tags. I have changed the font weight of the h1s and h2s*/
h1,
h2,
p {
  text-align: justify;
}
h1,
h2 {
  font-weight: bold;
}
/*bullet points and numbers disaapeared, but after padding, they reappeared.*/
ul,
ol {
  padding: 0 0 0 25px;
}

.aboutMe,
.myWork,
.experiences,
.myPassions,
.newProjects,
.gitHub,
.otherLinks {
  border: 2px solid white;
}
